.sample-details-wrapper {
  display: block;
  top: 0;
  bottom: 0;
  position: relative;
  min-height: 15rem;
}

.sample-stats-header {
  display: flex;
}

.sample-details-text {
  flex-grow: 1;
}

.sample-details-buttons {
  min-width: 19rem;
  text-align: right;
}

.sample-details-button {
  color: white !important;
  background: #72a1ff !important;
}

.sample-details-text-description {
  display: flex;
}
